<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/estiloGeneral.css">
    <link rel="stylesheet" href="css/listarComunidades.css">
    <link rel="stylesheet" href="css/listados.css">
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Listado de Comunidades</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
                    {{#each menus}}
                        {{#if this.activo}}
                            <li class="paginaActual"><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{else}}
                            <li><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{/if}}
                    {{/each}}
        </ul>
        <img src="img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
    </a>
</header>

<div>
    <h1 class="titulosMedianos">  {{usuario.nombre}}</h1>
</div>
{{#each miembros}}
<div class = "listado">
    <h2 class = "letraListado">{{this.comunidad.nombre}}</h2>
    <a href="/comunidades/baja/{{this.comunidad.id}}/{{usuario.id}}" class="bajaComunidad" id="eliminarComunidad">&#10006;</a>
    <a href="/comunidades/modificarTipoMiembro/{{this.id}}"class="fa-solid fa-code-compare" id="cambiarTipoMiembro" style="color: #ff4db5;"></a>
    <input type="hidden" id="tipoActualMiembro" value="{{this.tipo}}">
</div>
{{/each}}


<a href="/comunidades/sumar" class="unirseAComunidad">+</a>
<script src="js/cerrarSesion.js"></script>
<script src="js/listarComunidades.js"></script>
<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>

</body>
</html>
