<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/estiloGeneral.css">
    <link rel="stylesheet" href="../css/listarComunidades.css">
    <link rel="stylesheet" href="../css/listados.css">

    <meta charset="utf-8">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <title>Administrar</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
                    {{#each menus}}
                        {{#if this.activo}}
                            <li class="paginaActual"><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{else}}
                            <li><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{/if}}
                    {{/each}}
        </ul>
        <img src="../img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
        </a>

    <a href="#" id="atrasLink">
        <div class="atras-icon">
          <i class="fa-solid fa-arrow-left" style="color: #ff4db5;"></i>
        </div>
    </a>
</header>

<div>
    <h1 class="titulosMedianos">{{comunidad.nombre}}</h1>
</div>
<div>
    <h1 class="titulosChicos">Servicios de interés</h1>
</div>

{{#each servicios}}
    <div class="listado">
        <h2 class="letraListado">{{this.descripcion}}</h2>
    </div>
{{/each}}

<div>
    <h1 class="titulosChicos">Establecimientos de interés</h1>
</div>
{{#each establecimientos}}
    {{#if this.estaActivo}}
     <div class="listado">
         <h2 class="letraListado">{{this.denominacion}}</h2>
     </div>
    {{/if}}


{{/each}}

<a href="/editar-comunidad/{{comunidad.id}}" class="botonEditarComunidad">Editar</a>

<script src="../js/cerrarSesion.js"></script>
<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>
<script src="../js/listarComunidades.js"></script>

</body>
</html>


