<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/estiloGeneral.css">
    <link rel="stylesheet" href="css/listarComunidades.css">
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Rankings</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
                    {{#each menus}}
                        {{#if this.activo}}
                            <li class="paginaActual"><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{else}}
                            <li><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{/if}}
                    {{/each}}
        </ul>
        <img src="img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
        </a>
</header>

<div>
    <h1 class="titulosMedianos"> Rankings</h1>
</div>

    <div class = "rankingg">
         <a class = "ranking" href="/rankings/1">1) Entidades con mayor promedio de tiempo de cierre de incidentes</a>
     </div>

     <div class = "rankingg">
         <a class = "ranking" href="/rankings/2">2) Entidades con mayor cantidad de incidentes reportados en la semana</a>
     </div>

     <div class = "rankingg">
         <a class = "ranking" href="/rankings/3">3) Incidentes con mayor grado de impacto de las problemáticas</a>
     </div>
<script src="js/cerrarSesion.js"></script>
<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>
</body>
</html>