<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/estilogeneral.css">
    <link rel="stylesheet" href="css/crearIncidente.css">
    <meta charset="utf-8">
    <title>Nuevo Incidente</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
            <li class="paginaActual"><a href="/inicio">Inicio</a></li>
            <li> <a href="/perfil"> Perfil </a></li>
            <li><a href="/incidentes">Incidentes</a></li>
            <li ><a href="/comunidades">Comunidades</a></li>
            <li ><a href="/rankings">Rankings</a></li>
        </ul>
        <img src="../img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
        </a>
</header>

    <div class="seccion-selectores">

        <div class="servicio-selector-container">
            <select class="prestacion-selector">
                {{#each comunidades}}
                    {{#each this.establecimientosObservados}}
                        {{#each this.prestaciones}}
                            <option class="prestacion-option" value="{{this.id}}" data-comunidad={{../../id}}>{{this.servicio.descripcion}} en {{this.establecimiento.denominacion}}</option>
                        {{/each}}
                    {{/each}}
                {{/each}}
            </select>
        </div>

        <div class="comunidad-selector-container">
            <h2 id="comunidadSeleccionadaTexto"></h2>
            <div class="comunidad-select-container">
                <select class="comunidad-selector">
                        {{#each comunidades}}
                            <option class="comunidad-option" value="{{this.id}}">{{this.nombre}}</option>
                        {{/each}}
                </select>
                <div class="uno linea-blanca"></div>
                <div class="dos linea-blanca"></div>
            </div>
        </div>
    </div>

    <div class="separador"></div>

    <div class="seccion-nuevo-incidente">

            <h3>Nuevo incidente</h3>
            <div class="form">
                <input type="text" id="denominacion" name="denominacion" placeholder="Denominación" required>

                <label for="observaciones">Observaciones</label>
                <textarea id="observaciones" name="observaciones" required></textarea>

                <button id="botonCrear">Publicar Incidente</button>
            </div>
    </div>

<script src="../js/crearIncidente.js"></script>
<script src="js/cerrarSesion.js"></script>
<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>

</body>
</html>