<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/estiloGeneral.css">
    <link rel="stylesheet" href="../css/crearEstablecimientos.css">
    <meta charset="utf-8">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <title>Editar Comunidad</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
                    {{#each menus}}
                        {{#if this.activo}}
                            <li class="paginaActual"><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{else}}
                            <li><a href="{{this.link}}"> {{this.nombre}} </a></li>
                        {{/if}}
                    {{/each}}
        </ul>
        <img src="../img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
    </a>
</header>

<div>
     <h1 class="titulosMedianos">Editar Comunidad</h1>
</div>

<form id="formEditar">
     <label for="nombre">Nombre:</label>
     <input type="text" id="nombre" value="{{comunidad.nombre}}" required>

     <label for="descripcion">Descripción:</label>
     <textarea id="descripcion" required>{{comunidad.descripcion}}</textarea>

      <!-- Lista de servicios observados -->
            <!-- Lista de servicios observados -->
            <label for="serviciosObservados">Servicios Observados:</label>
            <select id="serviciosObservados" multiple>
               {{#each servicios}}
                  <option value="{{this.id}}" {{#if (includes comunidad.serviciosObservados this)}}selected{{/if}}>{{this.descripcion}}</option>
               {{/each}}
            </select>

            <!-- Lista de establecimientos observados -->
            <label for="establecimientosObservados">Establecimientos Observados:</label>
            <select id="establecimientosObservados" multiple>
               {{#each establecimientos}}
                  <option value="{{this.id}}" {{#if (includes comunidad.establecimientosObservados this)}}selected{{/if}}>{{this.denominacion}}</option>
               {{/each}}
            </select>


     <button type="button" onclick="guardarEdicion()">Guardar</button>
    </form>





<script src="../js/cerrarSesion.js"></script>
<script src="../js/editarComunidad.js"></script>
<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>

</body>
</html>
