<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/estiloGeneral.css">
    <link rel="stylesheet" href="css/listarIncidentes.css">
    <script src="js/listarIncidentes.js"></script>
    <meta charset="utf-8">
    <title>Listado de Incidentes</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
            <li><a href="/inicio">Inicio</a></li>
            <li> <a href="/perfil"> Configuración </a></li>
            <li class="paginaActual"><a href="/incidentes">Incidentes</a></li>
            <li><a href="/comunidades">Comunidades</a></li>
            <li><a href="/rankings">Rankings</a></li>
        </ul>
        <li class = "cerrarSesion"> <a href="/logout">Cerrar Sesión</a></li>
        <img src="img/logo.png" alt="logo-header">
    </div>
</header>

<div class="seccion-selectores">
    <div class="estado-selector-container">
        <select class="estado-selector" id="estado-selector">
            <option value="ambos" selected>Ambos</option>
            <option value="abierto">Abierto</option>
            <option value="cerrado">Cerrado</option>
        </select>
    </div>

    <div class="comunidad-selector-container">
        {{#if comunidadSeleccionada}}
            <h2>{{comunidadSeleccionada.nombre}}</h2>
        {{else}}
            <h2>Todas las comunidades</h2>
        {{/if}}
        <div class="comunidad-select-container">
            <select class="comunidad-selector">
                    <option value="todas" selected>Todas</option>
                    {{#each comunidades}}
                    <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
            </select>
            <div class="uno linea-blanca"></div>
            <div class="dos linea-blanca"></div>
        </div>
    </div>
</div>

<div class="separador"></div>

<div class="seccion-tarjetas">
    <div class = "incidente">
        {{#if incidentes}}
            {{#each incidentes}}
                Denominación: <span class="denominacion">{{this.denominacion}}</span><br>
                Prestación: <span class="prestacion">{{this.prestacion_de_servicio_id}}</span><br>
                Horario de publicación: {{this.fechaApertura}}<br>
                Observaciones: {{this.observaciones}}
                <button class="btn-close">X</button>
            {{/each}}
        {{else}}
            <p>Ningún incidente disponible</p>
        {{/if}}
   </div>
</div>
<a href="/incidentes/crear" class="btn-add">+</a>

</body>
</html>
