<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/estiloGeneral.css">
    <link rel="stylesheet" href="css/perfilPersona.css">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <meta charset="utf-8">
    <title>Perfil/title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container" style="margin: auto 0;">
        <ul class="menu" style="margin-left: 40px;">
            <li><a href="/inicio">Inicio</a></li>
            <li class="paginaActual"> <a href="/perfil"> Perfil </a></li>
            <li><a href="/incidentes">Incidentes</a></li>
            <li ><a href="/comunidades">Comunidades</a></li>
            <li ><a href="/rankings">Rankings</a></li>
        </ul>

        <img src="img/logo.png" alt="logo-header">
    </div>

    <a href="#" id="cerrarSesionLink">
      <div class="cerrar-sesion-icon">
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
      </div>
    </a>
</header>

<div class="sostenedor_de_campos">
    <div class="campo" data-campo="nombre">
        <label>Nombre:</label>
        <div class="campo-editable">
            {{persona.usuario.nombre}}
        </div>
    </div>

    <div class="campo" data-campo="email">
        <label>Email:</label>
        <div class="campo-editable">
            {{persona.email}}
        </div>
    </div>

    <div class="campo" data-campo="telefono">
        <label>Teléfono:</label>
        <div class="campo-editable">
            {{#if persona.horarioDeNotificaciones}}
                {{persona.telefono}}
            {{else}}
            Sin teléfono definido.
            {{/if}}
        </div>
    </div>

    <div class="campo" data-campo="localidad">
        <label>Localidad:</label>
        <div class="campo-editable">
            {{#if persona.localidad}}
                {{persona.localidad.nombre}} - {{persona.localidad.localizacion.nombre}} - {{persona.localidad.localizacion.provincia.nombre}}
            {{else}}
            Sin localidad definida.
            {{/if}}
        </div>
    </div>

    <div class="campo" data-campo="localidad">
        <label>Medio de notificación:</label>
        <div class="campo-editable">
            {{#if persona.preferenciaMedioNotificacion}}
                {{persona.preferenciaMedioNotificacion}}
            {{else}}
                Sin preferencia definida.
            {{/if}}
        </div>
    </div>

    <div class="campo" data-campo="localidad">
        <label>Frecuencia de notificación:</label>
        <div class="campo-editable">
        {{#if personaFrecuencia}}
            {{personaFrecuencia}}
        {{else}}
            Sin frecuencia definida.
        {{/if}}
        </div>
    </div>

    <div class="campo" data-campo="frecuencias">
        <label>Horarios:</label>
        <div class="campo-editable">
            {{#if persona.horarioDeNotificaciones}}
                {{#each persona.horariosDeNotificaciones}}
                    {{this}}
                {{/each}}
            {{else}}
            Sin horarios definidos.
            {{/if}}
        </div>
    </div>

    <a href="/perfil/editar" class="secondary-button boton guardar">Editar</a>
</div>


<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/perfil.js"></script>
<script src="js/cerrarSesion.js"></script>

</body>
</html>